@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500,600,700");
/* line 9, /Users/SONG/Desktop/future_job/css/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  border-radius: 0;
  font-weight: normal; }

/* line 20, /Users/SONG/Desktop/future_job/css/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 23, /Users/SONG/Desktop/future_job/css/style.scss */
body {
  line-height: 1;
  font-family: 'NanumSquare', sans-serif;
  overflow-x: hidden; }

/* line 30, /Users/SONG/Desktop/future_job/css/style.scss */
ol, ul {
  list-style: none; }

/* line 33, /Users/SONG/Desktop/future_job/css/style.scss */
blockquote, q {
  quotes: none; }

/* line 37, /Users/SONG/Desktop/future_job/css/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 41, /Users/SONG/Desktop/future_job/css/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 45, /Users/SONG/Desktop/future_job/css/style.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* RESET END */
/* line 59, /Users/SONG/Desktop/future_job/css/style.scss */
.transition2_pack, header .container .nav .menu ul li a .container, .background_area .container_bottom a.start-btn, .main_contianer .carousel .carousel-control-prev, .main_contianer .carousel .carousel-control-next, .main_contianer .carousel .carousel-indicators, .main_contianer .carousel .carousel-inner .carousel-item .more, .detail_contents .section .container .link_area .subscription, .detail_contents .section .container .good_btn_area button, .detail_contents .section .container .good_btn_area button.left, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/* line 66, /Users/SONG/Desktop/future_job/css/style.scss */
.transition3_pack {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* line 74, /Users/SONG/Desktop/future_job/css/style.scss */
::selection {
  background: #FF2570;
  color: white;
  text-shadow: none; }

/* line 87, /Users/SONG/Desktop/future_job/css/style.scss */
.detail_header {
  background-color: white; }

/* line 90, /Users/SONG/Desktop/future_job/css/style.scss */
header {
  height: 100px;
  line-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  /* line 99, /Users/SONG/Desktop/future_job/css/style.scss */
  header .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0; }
    /* line 103, /Users/SONG/Desktop/future_job/css/style.scss */
    header .container .left {
      display: inline-block; }
      /* line 105, /Users/SONG/Desktop/future_job/css/style.scss */
      header .container .left a {
        display: inline-block;
        text-decoration: none; }
        /* line 108, /Users/SONG/Desktop/future_job/css/style.scss */
        header .container .left a img {
          vertical-align: middle; }
        /* line 112, /Users/SONG/Desktop/future_job/css/style.scss */
        header .container .left a img:nth-child(1) {
          width: 50px; }
        /* line 115, /Users/SONG/Desktop/future_job/css/style.scss */
        header .container .left a img:nth-child(2) {
          margin-left: 10px;
          width: 96px; }
    /* line 121, /Users/SONG/Desktop/future_job/css/style.scss */
    header .container .nav {
      display: inline-block;
      float: right; }
      /* line 124, /Users/SONG/Desktop/future_job/css/style.scss */
      header .container .nav .trigger {
        position: relative;
        z-index: 3;
        cursor: pointer; }
      /* line 130, /Users/SONG/Desktop/future_job/css/style.scss */
      header .container .nav .menu {
        background: rgba(0, 0, 0, 0.85);
        background-color: white;
        border-top: 1px solid #ddd;
        height: 100%;
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 2;
        overflow-y: scroll;
        padding-bottom: 100px; }
        /* line 144, /Users/SONG/Desktop/future_job/css/style.scss */
        header .container .nav .menu ul {
          width: 100%; }
          /* line 146, /Users/SONG/Desktop/future_job/css/style.scss */
          header .container .nav .menu ul li {
            height: 150px;
            line-height: 150px;
            display: block;
            overflow: hidden; }
            /* line 154, /Users/SONG/Desktop/future_job/css/style.scss */
            header .container .nav .menu ul li a {
              text-decoration: none;
              display: block; }
              /* line 157, /Users/SONG/Desktop/future_job/css/style.scss */
              header .container .nav .menu ul li a .container {
                width: 1140px;
                margin: 0 auto;
                border-bottom: 1px solid #ddd;
                height: 150px; }
                /* line 163, /Users/SONG/Desktop/future_job/css/style.scss */
                header .container .nav .menu ul li a .container .num {
                  display: inline-block;
                  font-size: 40px;
                  vertical-align: middle;
                  color: #444;
                  font-weight: 100;
                  letter-spacing: -2px;
                  margin-left: 15px; }
                /* line 173, /Users/SONG/Desktop/future_job/css/style.scss */
                header .container .nav .menu ul li a .container .title {
                  display: inline-block;
                  color: #000;
                  font-size: 1.2rem;
                  margin-left: 20px; }
                  /* line 178, /Users/SONG/Desktop/future_job/css/style.scss */
                  header .container .nav .menu ul li a .container .title span.tag {
                    font-size: 0.7rem;
                    border: 1px solid #FF2570;
                    color: #FF2570;
                    padding: 4px 10px;
                    border-radius: 15px;
                    letter-spacing: 0;
                    vertical-align: middle;
                    position: relative;
                    bottom: 2px;
                    margin: 0 0 0 15px; }
                /* line 191, /Users/SONG/Desktop/future_job/css/style.scss */
                header .container .nav .menu ul li a .container .thumbnail {
                  position: relative;
                  display: inline-block;
                  float: right;
                  height: 150px;
                  width: 150px;
                  overflow: hidden; }
                  /* line 198, /Users/SONG/Desktop/future_job/css/style.scss */
                  header .container .nav .menu ul li a .container .thumbnail img {
                    height: 150px;
                    position: absolute;
                    top: 50%;
                    right: auto;
                    bottom: auto;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0); }
                /* line 209, /Users/SONG/Desktop/future_job/css/style.scss */
                header .container .nav .menu ul li a .container:hover {
                  background-color: #f1f1f1; }

/* line 221, /Users/SONG/Desktop/future_job/css/style.scss */
.main_body {
  width: 100%;
  overflow: hidden; }

/* line 225, /Users/SONG/Desktop/future_job/css/style.scss */
.background_area {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f1f1; }
  /* line 233, /Users/SONG/Desktop/future_job/css/style.scss */
  .background_area .container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0); }
    /* line 239, /Users/SONG/Desktop/future_job/css/style.scss */
    .background_area .container h1 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 4rem; }
    /* line 244, /Users/SONG/Desktop/future_job/css/style.scss */
    .background_area .container h3 {
      font-size: 1.7rem;
      margin: 35px 0;
      line-height: 3rem; }
  /* line 250, /Users/SONG/Desktop/future_job/css/style.scss */
  .background_area .container_bottom {
    width: 1140px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate3d(-50%, 0, 0); }
    /* line 256, /Users/SONG/Desktop/future_job/css/style.scss */
    .background_area .container_bottom a.start-btn {
      text-decoration: none;
      border: 2px solid #FF2570;
      width: 150px;
      text-align: center;
      display: inline-block;
      height: 55px;
      line-height: 55px;
      font-size: 1.3rem;
      font-weight: 700;
      border-radius: 7px;
      color: #FF2570;
      background-color: white;
      float: right; }
      /* line 271, /Users/SONG/Desktop/future_job/css/style.scss */
      .background_area .container_bottom a.start-btn:hover {
        background-color: #FF2570;
        color: white; }

/* line 280, /Users/SONG/Desktop/future_job/css/style.scss */
.main_contianer {
  position: relative; }
  /* line 283, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-control-prev, .main_contianer .carousel .carousel-control-next {
    width: 15%;
    opacity: 0.7; }
    /* line 287, /Users/SONG/Desktop/future_job/css/style.scss */
    .main_contianer .carousel .carousel-control-prev:hover, .main_contianer .carousel .carousel-control-next:hover {
      opacity: 1; }
  /* line 291, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-indicators {
    width: 930px;
    justify-content: left;
    top: 20%;
    bottom: auto;
    right: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    margin: 0; }
    /* line 302, /Users/SONG/Desktop/future_job/css/style.scss */
    .main_contianer .carousel .carousel-indicators li {
      width: 40px;
      height: 55px;
      line-height: 50px;
      text-indent: 0;
      margin: 0 30px 0 0;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      z-index: 1; }
      /* line 312, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-indicators li .num {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 2.4rem;
        color: rgba(255, 255, 255, 0.6); }
    /* line 319, /Users/SONG/Desktop/future_job/css/style.scss */
    .main_contianer .carousel .carousel-indicators .active {
      border-bottom: 3px solid #FF2570; }
      /* line 322, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-indicators .active span {
        color: white; }
  /* line 329, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item {
    background-color: #eee;
    height: 100vh; }
    /* line 332, /Users/SONG/Desktop/future_job/css/style.scss */
    .main_contianer .carousel .carousel-inner .carousel-item .contents_common {
      width: 930px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      transform: translate3d(-50%, -50%, 0);
      display: inline-block; }
      /* line 343, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .contents_common a {
        text-decoration: none; }
      /* line 346, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .contents_common h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: white;
        display: inline-block;
        vertical-align: middle; }
      /* line 354, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .contents_common h5 {
        color: #FF2570;
        font-size: 0.8rem;
        padding: 6px 10px;
        border: 1px solid #FF2570;
        display: inline-block;
        border-radius: 20px;
        margin-top: 15px;
        margin-left: 20px; }
      /* line 364, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .contents_common p {
        font-size: 1.1rem;
        line-height: 32px;
        margin: 40px 0 0;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 300; }
    /* line 372, /Users/SONG/Desktop/future_job/css/style.scss */
    .main_contianer .carousel .carousel-inner .carousel-item .more {
      text-align: center;
      display: inline-block;
      padding: 0 20px;
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translate3d(-50%, 0, 0);
      cursor: pointer; }
      /* line 382, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .more a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6); }
        /* line 385, /Users/SONG/Desktop/future_job/css/style.scss */
        .main_contianer .carousel .carousel-inner .carousel-item .more a img {
          padding-top: 10px;
          opacity: 0.7; }
      /* line 392, /Users/SONG/Desktop/future_job/css/style.scss */
      .main_contianer .carousel .carousel-inner .carousel-item .more:hover a {
        color: white; }
        /* line 394, /Users/SONG/Desktop/future_job/css/style.scss */
        .main_contianer .carousel .carousel-inner .carousel-item .more:hover a img {
          opacity: 1; }
  /* line 402, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .main_banner_bg_common, .main_contianer .carousel .carousel-inner .carousel-item-01, .main_contianer .carousel .carousel-inner .carousel-item-02, .main_contianer .carousel .carousel-inner .carousel-item-03, .main_contianer .carousel .carousel-inner .carousel-item-04, .main_contianer .carousel .carousel-inner .carousel-item-05, .main_contianer .carousel .carousel-inner .carousel-item-06 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  /* line 408, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-01 {
    background-image: url(../img/main_banner_01.jpg); }
  /* line 412, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-02 {
    background-image: url(../img/main_banner_02.jpg); }
  /* line 416, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-03 {
    background-image: url(../img/main_banner_03.jpg); }
  /* line 420, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-04 {
    background-image: url(../img/main_banner_01.jpg); }
  /* line 424, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-05 {
    background-image: url(../img/main_banner_02.jpg); }
  /* line 428, /Users/SONG/Desktop/future_job/css/style.scss */
  .main_contianer .carousel .carousel-inner .carousel-item-06 {
    background-image: url(../img/main_banner_03.jpg); }

/* detail page */
/* line 441, /Users/SONG/Desktop/future_job/css/style.scss */
.detail_contents {
  margin-top: 100px; }
  /* line 443, /Users/SONG/Desktop/future_job/css/style.scss */
  .detail_contents .banner {
    height: 450px;
    background-image: url(../img/detail_banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    /* line 449, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .banner .container {
      padding: 60px 0;
      position: relative;
      height: 450px; }
  /* line 456, /Users/SONG/Desktop/future_job/css/style.scss */
  .detail_contents .section .container {
    width: 1140px;
    margin: 0 auto; }
    /* line 459, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .num {
      display: inline-block;
      border-bottom: 4px solid #FF2570;
      font-size: 2.4rem;
      font-weight: 500;
      padding-bottom: 6px;
      font-family: 'Barlow Semi Condensed', sans-serif; }
    /* line 467, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .title {
      font-size: 2.3rem;
      font-weight: 700;
      margin: 100px 0 20px; }
    /* line 472, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .tag {
      display: inline-block;
      color: #FF2570;
      border: 2px solid #FF2570;
      border-radius: 20px;
      padding: 6px 10px;
      font-size: 0.8rem; }
    /* line 480, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .date {
      font-size: 0.9rem;
      display: inline-block;
      margin-left: 10px; }
    /* line 485, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .link_area {
      text-align: right;
      position: absolute;
      bottom: 60px;
      right: 0; }
      /* line 490, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .link_area .subscription {
        display: inline-block;
        font-size: 1rem;
        padding: 10px 20px;
        border: 2px solid #000;
        background: 0;
        line-height: inherit;
        vertical-align: middle;
        margin-right: 25px;
        border-radius: 20px;
        cursor: pointer; }
        /* line 502, /Users/SONG/Desktop/future_job/css/style.scss */
        .detail_contents .section .container .link_area .subscription:hover {
          background-color: #000;
          color: #fff; }
      /* line 507, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .link_area a {
        display: inline-block; }
        /* line 509, /Users/SONG/Desktop/future_job/css/style.scss */
        .detail_contents .section .container .link_area a img {
          vertical-align: middle; }
    /* line 514, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .contents {
      line-height: 30px;
      font-size: 1rem;
      color: #000;
      margin: 50px 0; }
    /* line 520, /Users/SONG/Desktop/future_job/css/style.scss */
    .detail_contents .section .container .good_btn_area {
      text-align: center;
      margin: 100px auto; }
      /* line 523, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .good_btn_area h5 {
        font-size: 0.9rem;
        color: #000; }
      /* line 527, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .good_btn_area .icon {
        margin: 40px 0; }
        /* line 529, /Users/SONG/Desktop/future_job/css/style.scss */
        .detail_contents .section .container .good_btn_area .icon img {
          margin: 0 20px; }
      /* line 533, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .good_btn_area button {
        padding: 12px 25px;
        border-radius: 30px;
        margin: 0 10px;
        outline: none;
        background-color: white;
        border: 2px solid #000;
        color: #000;
        font-size: 1rem;
        cursor: pointer; }
        /* line 544, /Users/SONG/Desktop/future_job/css/style.scss */
        .detail_contents .section .container .good_btn_area button:hover {
          background-color: #000;
          color: white; }
      /* line 549, /Users/SONG/Desktop/future_job/css/style.scss */
      .detail_contents .section .container .good_btn_area button.left {
        border: 2px solid #FF2570;
        color: #FF2570; }
        /* line 553, /Users/SONG/Desktop/future_job/css/style.scss */
        .detail_contents .section .container .good_btn_area button.left:hover {
          background-color: #FF2570;
          color: white; }

/* line 564, /Users/SONG/Desktop/future_job/css/style.scss */
footer {
  background-color: #f1f1f1;
  height: 70px;
  line-height: 70px; }
  /* line 568, /Users/SONG/Desktop/future_job/css/style.scss */
  footer .container {
    width: 1140px;
    margin: 0 auto; }
    /* line 571, /Users/SONG/Desktop/future_job/css/style.scss */
    footer .container h5 {
      display: inline-block;
      font-size: 0.9rem; }
    /* line 575, /Users/SONG/Desktop/future_job/css/style.scss */
    footer .container a {
      display: inline-block;
      float: right; }
      /* line 578, /Users/SONG/Desktop/future_job/css/style.scss */
      footer .container a img {
        vertical-align: middle; }

/* line 587, /Users/SONG/Desktop/future_job/css/style.scss */
.modal {
  padding: 0 !important;
  margin-top: 100px; }
  /* line 590, /Users/SONG/Desktop/future_job/css/style.scss */
  .modal .modal-dialog {
    max-width: 100%;
    margin: 0; }
    /* line 593, /Users/SONG/Desktop/future_job/css/style.scss */
    .modal .modal-dialog .modal-content {
      border-radius: 0;
      border: none; }
      /* line 596, /Users/SONG/Desktop/future_job/css/style.scss */
      .modal .modal-dialog .modal-content .modal-body {
        padding: 0;
        width: 1140px;
        margin: 0 auto; }
        /* line 602, /Users/SONG/Desktop/future_job/css/style.scss */
        .modal .modal-dialog .modal-content .modal-body .menu ul li {
          display: flex; }
          /* line 604, /Users/SONG/Desktop/future_job/css/style.scss */
          .modal .modal-dialog .modal-content .modal-body .menu ul li a {
            text-decoration: none;
            display: inline-block; }
            /* line 607, /Users/SONG/Desktop/future_job/css/style.scss */
            .modal .modal-dialog .modal-content .modal-body .menu ul li a .container {
              height: 150px;
              line-height: 150px;
              width: 1140px;
              margin: 0 auto;
              border-bottom: 1px solid #ddd;
              padding: 0;
              overflow: hidden; }
              /* line 616, /Users/SONG/Desktop/future_job/css/style.scss */
              .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .menu_title {
                vertical-align: top;
                height: 150px;
                display: inline-block;
                margin-left: 20px; }
                /* line 621, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .menu_title .num {
                  display: inline-block;
                  font-size: 40px;
                  vertical-align: middle;
                  color: #444;
                  font-weight: 100;
                  letter-spacing: -2px;
                  font-family: 'Barlow Semi Condensed', sans-serif;
                  line-height: 50px; }
                /* line 631, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .menu_title .title {
                  display: inline-block;
                  color: #000;
                  font-size: 1.2rem;
                  margin-left: 20px;
                  line-height: 50px; }
                  /* line 637, /Users/SONG/Desktop/future_job/css/style.scss */
                  .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .menu_title .title span.tag {
                    font-size: 0.7rem;
                    border: 1px solid #FF2570;
                    color: #FF2570;
                    padding: 4px 10px;
                    border-radius: 15px;
                    letter-spacing: 0;
                    vertical-align: middle;
                    position: relative;
                    bottom: 2px;
                    margin: 0 0 0 15px; }
              /* line 651, /Users/SONG/Desktop/future_job/css/style.scss */
              .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area {
                position: relative;
                display: inline-block;
                float: right;
                height: 150px;
                width: 150px;
                overflow: hidden; }
                /* line 658, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area img {
                  height: 150px;
                  position: relative; }
                /* line 663, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_common, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_01, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_02, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_03, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_04, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_05, .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_06 {
                  width: 100%;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-color: #ddd;
                  background-size: cover; }
                /* line 672, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_01 {
                  background-image: url(../img/main_banner_01.jpg); }
                /* line 676, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_02 {
                  background-image: url(../img/main_banner_02.jpg); }
                /* line 680, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_03 {
                  background-image: url(../img/main_banner_03.jpg); }
                /* line 684, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_04 {
                  background-image: url(../img/main_banner_01.jpg); }
                /* line 688, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_05 {
                  background-image: url(../img/main_banner_02.jpg); }
                /* line 692, /Users/SONG/Desktop/future_job/css/style.scss */
                .modal .modal-dialog .modal-content .modal-body .menu ul li a .container .thumbnail_area .thumbnail_06 {
                  background-image: url(../img/main_banner_03.jpg); }
              /* line 697, /Users/SONG/Desktop/future_job/css/style.scss */
              .modal .modal-dialog .modal-content .modal-body .menu ul li a .container:hover {
                background-color: #f1f1f1; }
          /* line 706, /Users/SONG/Desktop/future_job/css/style.scss */
          .modal .modal-dialog .modal-content .modal-body .menu ul li a:link .container .menu_title .num, .modal .modal-dialog .modal-content .modal-body .menu ul li a:visited .container .menu_title .num, .modal .modal-dialog .modal-content .modal-body .menu ul li a:hover .container .menu_title .num, .modal .modal-dialog .modal-content .modal-body .menu ul li a:active .container .menu_title .num, .modal .modal-dialog .modal-content .modal-body .menu ul li a:hover .container .menu_title .num {
            color: #444; }
          /* line 709, /Users/SONG/Desktop/future_job/css/style.scss */
          .modal .modal-dialog .modal-content .modal-body .menu ul li a:link .container .menu_title .title, .modal .modal-dialog .modal-content .modal-body .menu ul li a:visited .container .menu_title .title, .modal .modal-dialog .modal-content .modal-body .menu ul li a:hover .container .menu_title .title, .modal .modal-dialog .modal-content .modal-body .menu ul li a:active .container .menu_title .title, .modal .modal-dialog .modal-content .modal-body .menu ul li a:hover .container .menu_title .title {
            color: #000; }

/* line 724, /Users/SONG/Desktop/future_job/css/style.scss */
.modal-backdrop.show {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */